.about {
  display: flex;
  align-items: center;
  padding: 0rem 10rem 0rem 10rem;
  color: white;
  justify-content: center;
  min-height: 90vh;
  background-image: url('../img//wallpaper2.png');
  background-position: center 2%;

  h2 {
    font-weight: lighter;
    font-size: 3rem;
    margin-right: 15px;
  }
  span {
    font-weight: bold;
  }
  .image {
    flex: 1;
    img {
      max-width: 100%;
      max-height: 70vh;
      min-height: 50vh;
      object-fit: contain;
    }
  }
  .description {
    padding-top: -20rem;
  }
  button {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 3px solid #0d7377;
    background: transparent;
    color: white;
    transition: all 0.5s ease;
    &:hover{
      background-color: #0d7377;

    }
  }
  .hide {
    overflow: hidden;
  }
}

.about-me {
  text-align: center;
  padding: 6rem 5rem 6rem 5rem;
  h2, h3, h4, h5 {
    color: white;
    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    color: #0d7377;
    padding-bottom: 6rem;
  }
  h3 {
    font-size: 2rem;
    color: #0d7377;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5rem;
    color: #0d7377;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
  p {
    color: #cccccc;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .my-pic {
      max-width: 100vh;
      max-height: 80vh;
      min-height: 45vh;
      object-fit: contain;
      padding: 1rem;
    }
    .bio {

      padding: 8rem 1rem 1rem 2rem;
      min-width: 450px;
      max-width: 450px;
      text-align: left;
    }
  }
}

.ab {
  margin: 0rem 6rem 0rem 6rem;
}


@media screen and (max-width: 865px) {
  .about {
    flex-direction: column;
    padding: 0rem 1rem 0rem 1rem;
    button {
      width: 100%;
    }
    .description {
      margin: auto;
      h2 {
        font-size: 3rem;
        text-align: center;
      }
    }
  }

  .about-me {
    padding: 6rem 0.5rem 6rem 0.5rem;
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    .cards {
      flex-direction: column;
      p {
        font-size: 1.2rem;
      }
      .bio {
        padding-top: 1rem;
        min-width: 360px;
        max-width: 360px;
      }
    }
  }

}

@media screen and (max-width: 370px) {
  .about {
    flex-direction: column;
    padding: 0rem 1rem 0rem 1rem;
    button {
      width: 100%;
    }
    .description {
      margin: auto;
      h2 {
        font-size: 3rem;
      }
    }
  }

  .about-me {
    padding: 5rem 0.5rem 5rem 0.5rem;
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    .cards {
      flex-direction: column;
      p {
        font-size: 1rem;
      }
      .bio {
        padding-top: 1rem;
        min-width: 90%;
        max-width: 90%;
      }
    }
  }

}