


.description {
  flex: 1;
  h2 {
    font-weight: lighter;
  }
}

.hide {
  overflow: hidden;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #0d7377;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover{
    background-color: #0d7377;

  }
}

@media screen and (max-width: 860px) {
  .about {
    flex-direction: column;
    padding: 6rem 2%;
  }
  .description {
    padding-top: 3rem;
    margin: auto;
    text-align: center;
    h2 {
      font-size: 3rem;
    }
  }
  button {
    width: 100%;
  }
}