.contact{
  padding: 6rem 5rem 6rem 5rem;
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-align: center;
  }
  .input-name, .input-email {
    width: 100%;
    height: 6vh;
    background-color: #3D444A;
    border: 1px solid rgba(253, 251, 245, 0.3);
    margin-bottom: 3vh;
    padding-left: 5%;
    font-size: 1.2rem;
    color: #FDFBF5;
    outline: none;
  }

  .input-message {
    width: 100%;
    height: 22vh;
    background-color: #3D444A;
    border: 1px solid rgba(253, 251, 245, 0.3);
    margin-bottom: 3vh;
    padding-left: 5%;
    font-size: 1.2rem;
    color: #FDFBF5;
    outline: none;
    padding-top: 5%;
  }

  .send {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 3px solid #0d7377;
    background: transparent;
    color: white;
    transition: all 0.5s ease;
    &:hover{
      background-color: #0d7377;
    }
  }
}