.education{
  text-align: center;
  padding: 6rem 5rem;
  color: white;
  h2 {
    font-weight: lighter;
    font-size: 4rem;
    color: #0d7377;
  }
  h4 {
    font-weight: lighter;
    font-size: 1.5rem;
    color: #0d7377;
    margin-bottom: 1rem;

  }
  h5 {
    color: white;
    font-weight: lighter;
  }
  a {
    text-decoration: none;
  }
  img {
    min-width: 20rem;
    max-width: 20rem;
  }
}

.title {
  padding: 0rem 10% 6rem 10%;
}

.education-container {
  margin-bottom: 5rem;
  p {
    color: #cccccc;
    margin-bottom: 1rem;
    font-size: larger;
  }
}

.edu-img {
  max-width: 40vh;
  margin-bottom: 1rem;
}

.certs {
  margin: 3rem;
}

@media screen and (max-width: 860px) {
  .desc-org {
    display: none;
  }
}