.education{
  text-align: center;
  padding: 6rem 5rem 0rem 5rem;
  // background-color: #364B71;
  h2, h3, h4, h5 {
    color: white;
    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    color: #0d7377;
    padding-bottom: 6rem;
  }
  h3 {
    font-size: 2rem;
    color: #0d7377;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5rem;
    color: #0d7377;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
  .edu-img {
    max-width: 60vh;
    margin-bottom: 1rem;
  }

  .education-container {
    margin-bottom: 5rem;
    p {
      color: #cccccc;
      margin-bottom: 1rem;
      font-size: larger;
    }
  }

  .certs {
    margin: 3rem;
  }
}




@media screen and (max-width: 865px) {
  .education {
    padding: 6rem 1rem 0rem 1rem;
    h2 {
      font-size: 3.2rem;
    }
    .desc-org {
      display: none;
    }
    .edu-img {
      max-width: 40vh;
      margin-bottom: 1rem;
    }
  }
}