

.title {
  padding: 0rem 10% 6rem 10%;
}

.education-container {
  margin-bottom: 5rem;
  p {
    color: #cccccc;
    margin-bottom: 1rem;
    font-size: larger;
  }
}

.edu-img {
  max-width: 40vh;
  margin-bottom: 1rem;
}

.certs {
  margin: 3rem;
}

@media screen and (max-width: 860px) {
  .desc-org {
    display: none;
  }
}