.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 2rem 6rem 0rem 6rem;
  ul {
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
  }
  li {
    padding-left: 2.5rem;
  }
  p {
    font-size: 1rem;
    text-align:center;
    color: white;
    font-style: italic;
  }

  li:hover {
    cursor: pointer;
  }

  .foot {
    color: white;
    padding: 3rem 0rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@media screen and (max-width: 865px) {
  .footer {
    flex-direction: column;
    padding: 2rem 0rem 0rem 0rem;
    ul, .foot {
      justify-content: center;
    }
    .first {
      margin-left: -2.5rem;
    }
  }
}