.nav-list {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 50vh;
  background-color: black;
  display: none;
  transform: translateX(100%);
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
  }
  a {
    text-align: left;
    color: white;
    text-decoration: none;
  }
  .active {
    transform: translateX(0%);
    // display: inline-block;
  }
}

