nav {
  display: flex;
  grid-template-columns: 9.9fr 0.1fr;
  grid-template-rows: none;
  padding: 2rem 5rem;
  background-color: #0d7377;
  margin-left: -5rem;
  li {
    list-style: none;
    font-size: 1.3rem;
    margin-left: 5rem;
  }
  ul {
    display: flex;
  }
  a {
    text-decoration: none !important;
    color: white;
  }
  img {
    max-width: 3rem;
    min-width: 3rem;
  }
}

.nav-bar {
  align-items: center;
  grid-column: 1/2;
}

.links {
  grid-column: 2/3;
  align-items: center;
  margin-right: -2rem;
  li {
    margin-left: 1rem;
  }
}


@media screen and (max-width: 860px) {
  nav {
    padding: 0;
    width: 100%;
    background-color: #0d7377;
    li {
      font-size: smaller;
    }
    img {
      display: none;
    }
  }
  .nav-bar {
    background-color: #0d7377;
  }
}