.skills {
  padding: 6rem 5rem 0rem 5rem;
  text-align: center;
  color: white;
  h2 {
    font-weight: lighter;
    font-size: 3.5rem;
    color:  #0d7377;
    padding-bottom: 6rem;
  }
  .section {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .tech-skills {
    display: grid;
    grid-template-columns: 160px 210px;
    justify-content: center;
    align-content: center;
    line-height: 4rem;
  }
  .skills-rating:hover, .skills-rating2:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 865px) {
  .skills {
    h2 {
      font-size: 3rem;
    }
    .tech-skills {
      line-height: 2.5rem;
    }
  }
  .section {
    flex-wrap: wrap;
  }

}
