.skills {
  padding: 6rem 10% 0rem 10%;
  span {
    color: white;
  }
  h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 4rem;
    color:  #0d7377;

  }
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  text-align: center;
  padding: 6rem;

}

.section-1 {
  grid-column: 1/2;
}

.section-2 {
  grid-column: 2/3;
}

.tech-skills {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  justify-content: center;
  align-content: center;
}

.skills-type {
  color: black;
  font-weight: 200;
  grid-column: 1/2;
  line-height: 4;
}

.skills-rating {
  line-height: 4;
  align-self: center;
}

.skills-type2 {
  color: black;
  font-weight: 200;
  grid-column: 3/4;
  line-height: 4;
}

.skills-rating2 {
  line-height: 4;
  align-self: center;
}

.skills-rating:hover, .skills-rating2:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 860px) {
  .section {
    display: flex;
    flex-wrap: wrap;
  }

  .tech-skills {
    grid-template-columns: repeat(2, 220px);
  }

  .skills-type, .skills-type2 {
    font-size: auto;
  }

  .skills-type2 {
    grid-column: 1/2;
  }

  .skills-rating2 {
    grid-column: 2/3;
  }

  .skills-type, .skills-type2, .skills-rating, .skills-rating2 {
    line-height: 2.5;
  }


}
