* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  // -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

body {
  background-color: #212121;
  // overflow-x: hidden;
}

.quotes {
  font-style: italic;
  color: gray !important;
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 2rem !important;
  font-size: 1rem !important;
}

.quotee {
  font-style: italic;
  color: gray !important;
  text-align: center;
  padding-bottom: 6rem;
}

hr {
  height:1px;
  border:none;
  background-color: #0d7377;
  text-align:center;
}



@media screen and (max-width: 865px) {
  .quotes {
    padding-top: 3rem;
  }
}

@import "./about";
@import "./nav";
@import "./education";
@import "./skills";
@import "./contact";
@import "./footer";
@import "./navlist";